.home-page {
  width: 100vw;
  height: 50vh;
  position: relative;
  opacity: 0.9;
}
.home-page a {
  position: absolute;
  content: "";
  top: 50%;
  left: 30%;
  z-index: 1;
  font-size: 4vw;
  color: black;
}
