.home-page {
  /* position: fixed;
  top: 0; */
}
/* .home-page {
  width: 60vw;
  height: 100vh;
  margin-top: auto;
  text-align: center;
  align-self: center;
  background-position: center
  background-repeat: no-repeat;
  background-size: cover; */
/* background: url("/public/assets/images/shoe-background.jpg") / no-repeat
    center center/cover; */
/* } */
.home-img {
}
